.header {
    position: relative;
    display: grid;
    min-height: 100vh;
    padding: 100px 0;
    background-color: $color-main;
    background-position: 50% 50%;
    background-size: cover;
    align-items: center;
}
